// -----------------------------------------------------------------------------
// This file contains all styles related to the search sidebar component.
// -----------------------------------------------------------------------------

.sidebar {
  position: relative;

  @media (max-width: 991.98px) {
    flex: 0;
  }

  .sidebar-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 17px 0;

    .value {
      margin-left: auto;
      margin-right: 25px;
      padding-left: 15px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 200%;
      height: 1px;
      background-color: var(--border-primary);
      z-index: -1;
      transform: translateX(-50%);
    }

    &::before {
      @media (max-width: 991.98px) {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 150%;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }

  .collapse {
    @media (min-width: 992px) {
      display: block !important;
    }
  }

  .collapsing {
    transition: height .5s ease;

    @media (min-width: 992px) {
      transition: none !important;
      height: unset !important;
    }
  }

  .nav-tabs {
    position: relative;
    border: none;

    .nav-item {
      margin: 0;
      cursor: pointer;
    }

    .nav-item.show .nav-link,
    .nav-link.active {
      font-weight: 700;
      color:  var(--text-primary);
      letter-spacing: 0;
      border-bottom: 5px solid $ubuntu-orange;
    }

    .nav-link {
      border-radius: 0;
      border: none;
      border-bottom: 5px solid transparent;
      padding: 15px 25px 10px 25px;
      font-size: 18px;
      letter-spacing: 0.035em;
      background: transparent;

      @media (max-width: 1199.98px) {
        font-size: 16px;
        padding: 15px 15px 10px 15px;
      }
    }
  }

  .input {
    margin-bottom: 20px;
    font-weight: normal;
    color: var(--text-input);

    @media (max-width: 991.98px) {
      margin-bottom: 10px;
      padding: 10px 20px;
    }
  }
  .input:focus {
    border: 1px solid $ubuntu-orange;
  }

  .tab-content {
    margin-bottom: 60px;
    position: relative;

    @media (max-width: 991.98px) {
      margin: 0;
      padding: 15px 0;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: translateX(-50%);
      }
    }

    .h3 {
      margin-top: 20px;
    }

    .container-fluid {
      padding-right: 35px;

      @media (max-width: 991.98px) {
        padding-right: 15px;
      }
    }

    li {
      padding: 0 !important;
      padding-top: 7px !important;
      line-height: 2;
      border: none;
      border-radius: 0;
      font-size: 15px;

      &.active {
        color: $ubuntu-purple-dark;
        font-weight: 700;
        border-left: 5px solid $ubuntu-purple-dark;
      }

      @media (max-width: 991.98px) {
        font-size: 14px;
      }
    }

    hr {
      margin-bottom: 0;
      border-top:1px solid var(--border-primary);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 1px;
    height: 150%;
    background-color: var(--border-primary);
    z-index: -1;

    @media (max-width: 991.98px) {
      height: 100%;
      width: 150%;
      right: 50%;
      transform: translateX(50%);
      display: none;
    }
  }

  @media (min-width: 992px) {
    .progress-bar {
      background: linear-gradient(44deg, var(--border-primary) 10%, var(--border-primary));
    }

    .device-name {
      &:first-child {
        margin-top: 10px;
      }

      &:hover .progress-bar {
        background-image: linear-gradient(44deg, $ubuntu-orange 20%, $ubuntu-purple-light);
      }
    }
  }

  // Sidebar devices
  .device-tag- {
    &promoted {
      background: $ubuntu-purple-light;
      font-weight: lighter;
      color:$off-white;
    }

    &new {
      background: linear-gradient(to right, #b30920, #eb9648);
    }

    &old , &unmaintained {
      background: linear-gradient(to right, #0f0f0f, #7c7c7c);
    }
  }
}

#listOfDevices {
  overflow-y: auto;
  scrollbar-color: $gray-light transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-light;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  .active--exact {
    font-weight: 700;
  }

  @media (max-width: 991.98px) {
    max-height: calc(100vh - 240px);
  }
}
